
#page-wrap {
    padding-bottom: 11.1vh; 
}

.AboutMe{
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60vw;
    height: 15vw;
    margin-bottom: 3vw;
}

#picture{
    width: 15vw;
    height: 15vw;
    box-shadow: 0 0 1vw rgb(20, 20, 20);
    background-color: black;
    display: inline-block;
    border-radius: 100vw;
}
.AboutMe > article{
    width: 44vw;
    height: 15vw;
    padding: 0.5vw;
    font-size: 0.9vw;
    color: rgb(201, 201, 201);
    float: right;
    white-space: normal;
    text-align: left;
    margin-left: 1vw;
}
#page-wrap > h3{
    margin-top: 8vw;
    position: relative;
    font-size: 3.5vw;
    text-align: center;
    color: rgb(124, 157, 201);
  }

@media screen and (max-width: 1179px){
    #page-wrap {
        padding-bottom: 11.1vh; 
    }
    .AboutMe{
        margin-top: 6vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 70vw;
        height: 30vw;
        margin-bottom: 6vw;
    }
    #picture{
        box-shadow: 0 0 2vw rgb(20, 20, 20);
        width: 30vw;
        height: 30vw;
        border-radius: 100vw;
        margin-left: auto; margin-right: auto;
        display: block;
    }
    .AboutMe > article{
        width: 100%;
        height: 30vw;
        font-size: 1.5vw;
        text-align: left;
        border-radius: 1vw;
    }

    #page-wrap > h3{
        margin-top: 22vw;
        font-size: 6vw;
    }
  }