@import url('https://fonts.cdnfonts.com/css/cascadia-code');
#page-wrap > h3{
    font-size: 3.5vw;
    text-align: center;
    margin-top: 8vw;
    color: rgb(124, 157, 201);
}
#page-wrap {
    padding-bottom: 11.1vh; 
}
h3{
    font-size: 2vw;
    text-align: center;
    margin-bottom: 1vw;
    color: rgb(124, 157, 201);
}

#video{
    margin-top: 2vw; 
    position: relative; 
    display: inline-block; 
    left: 25%;
}
video{
    width: 50vw; 
    height: 28.125vw; 
    background-color: rgb(32, 32, 32); 
    box-shadow: 0.5vw 0.5vw  0.5vw  rgb(26, 26, 26); 
    border-radius: 3vw;
}

.sources{
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 4vw;
    background-color: rgba(43, 43, 43, 0.76);
    border-radius: 1vw;
}
.sources > *{
    margin-left: 1vw;
}
.sources > .source{
    margin-top: 0.5vw;
    width: 3vw;
    height: 3vw;
    display: inline-block;
    position: relative;
}
.sources > .source > img{
    width: 3vw;
    position: relative;
}
.download{
    bottom: 1.1vw;
    width: 8vw;
    height: 3vw;
    display: inline-block;
    position: relative;
    line-height: 3vw;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1vw;
    background-color: green;
    transition: background-color 0.3s;
    border-radius: 1vw;
}.download:hover{
    background-color: rgb(0, 148, 0);
}

.toggle-container{
    
    margin-bottom: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 5vw;
    background-color: rgb(43, 43, 43, 0.76);
    margin-top: 2vw;
    border-radius: 1vw;
    position: relative;
}
.toggle-container:hover{
    cursor: pointer;
}
.toggle-text{
    display: inline-block;
    position: relative;
    width: 50%;
    margin-left: -4px;
    height: 100%;
    
    color: rgb(201, 201, 201);
    text-align: center;
    font-size: 2vw;
    line-height: 5vw;
    z-index: 1;
}
.toggle{
    transition: margin-left 0.3s;
    width: 50%;
    height: 100%;
    display: inline-block;
    background-color: rgba(32, 32, 32, 0.507);;
    position: absolute;
    border-radius: 1vw;
    z-index: 0;
}

h2{
    display: block;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    color: rgb(124, 157, 201);
}

#practical{
    margin-bottom: 3vw;
}
#practical > a{
    width: 50vw;
    min-height: 2vw;
    margin-left: auto;
    margin-right: auto;
    color: rgb(201, 201, 201);
    white-space: normal;
    font-size: 0.9vw;
    padding: 1.5vw;
}
#practical-description{
    width: 50vw;
    min-height: 2vw;
    margin-left: auto;
    margin-right: auto;
    color: rgb(201, 201, 201);
    white-space: normal;
    font-size: 0.9vw;
    padding: 1.5vw;
}

#technical{
    margin-bottom: 3vw;
}
.description-text{
    width: 50vw;
    min-height: 2vw;
    font-size: 0.9vw;
    margin-right: 0.5vw;
    margin-bottom: 1vw;
    padding: 1.5vw;
    color: rgb(201, 201, 201);
    white-space: normal;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.code-snippet{
    width: 50vw;
    max-height: 30vw;
    border-radius: 0.7vw;
    margin-bottom: 1vw;
    padding: 1.5vw;
    display: block;
    white-space: pre;
    font-size: 0.7vw;
    color: rgb(207, 207, 207);
    font-family: 'Cascadia Code', monospace;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(20, 20, 20, 0.733);
}

.engine-snippet{
    display: block;
    width: 50vw;
    border-radius: 1.25vw;
    margin-bottom: 1vw;
    margin-left: auto;
    margin-right: auto;
}
video.engine-snippet{
    height: 37.5vw;
}

@media screen and (max-width: 1179px){
    #page-wrap > h3{
      margin-top: 22vw;
      font-size: 6vw;
    }

    h3{
    font-size: 4vw;
    text-align: center;
    margin-bottom: 3vw;
    color: rgb(124, 157, 201);
    }

    #video{
        margin-top: 2vw; 
        position: relative; 
        display: inline-block; 
        left: 15%;
    }
    video{
        width: 70vw;
        height: 39.375vw; 
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(32, 32, 32); 
        box-shadow: 0.5vw 0.5vw  0.5vw  rgb(26, 26, 26); 
        border-radius: 3vw;
    }
    .sources{
        margin-top: 3vw;
        width: 70vw;
        height: 8vw;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(43, 43, 43, 0.76);
        border-radius: 2vw;
    }

    .sources > *{
        margin-left: 1vw;
    }
    .sources > .source{
        margin-top: 0.5vw;
        width: 7vw;
        height: 7vw;
        display: inline-block;
        position: relative;
    }
    .sources > .source > img{
        width: 7vw;
        position: relative;
    }
    .download{
        display: none;
    }.download:hover{
        background-color: rgb(0, 148, 0);
    }

    .toggle-container{

        margin-bottom: 1vw;
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
        height: 8vw;
        background-color: rgb(43, 43, 43, 0.76);
        margin-top: 2vw;
        border-radius: 2vw;
        position: relative;
    }
    .toggle-container:hover{
        cursor: pointer;
    }
    .toggle-text{

        display: inline-block;
        position: relative;
        width: 50%;
        margin-left: -4px;
        height: 100%;

        color: rgb(201, 201, 201);
        text-align: center;
        font-size: 4vw;
        line-height: 8vw;
        z-index: 1;
    }
    .toggle{
        transition: margin-left 0.3s;
        width: 50%;
        height: 100%;
        display: inline-block;
        background-color: rgba(32, 32, 32, 0.507);
        position: absolute;
        border-radius: 1vw;
        z-index: 0;
    }

    h2{
        font-size: 4vw;
        text-align: center;
        margin-top: 0.5vw;
        margin-bottom: 1vw;
        color: rgb(124, 157, 201);
    }

    #practical{
        margin-bottom: 3vw;
    }#practical > a{
        width: 70vw;
        min-height: 4vw;
        margin-left: auto;
        margin-right: auto;
        color: rgb(201, 201, 201);
        white-space: normal;
        font-size: 1.5vw;
        padding: 1.5vw;
    }
    #practical-description{
        width: 70vw;
        min-height: 4vw;
        margin-left: auto;
        margin-right: auto;
        color: rgb(201, 201, 201);
        font-size: 1.5vw;
        padding: 1.5vw;
    }

    #technical{
        margin-bottom: 13vw;
    }
    .description{
        width: 70vw;
        min-height: 2vw;
        margin-left: auto;
        margin-right: auto;
    }
    .description-text{
        width: 70vw;
        min-height: 2vw;
        font-size: 1.5vw;
        margin-right: 0.5vw;
        margin-bottom: 1vw;
        padding: 1.5vw;
    }

    .code-snippet{
        width: 70vw;
        max-height: 30vw;
        border-radius: 1.4vw;
        margin-bottom: 1vw;
        padding: 1.5vw;
        display: block;
        white-space: pre;
        font-size: 1.8vw;
        color: rgb(207, 207, 207);
        overflow: auto;

        background-color: rgba(20, 20, 20, 0.733);
    }

    .engine-snippet{
        width: 70vw;
        border-radius: 1.25vw;
        margin-bottom: 1vw;
    }
    video.class{
        height: 52.5vw;
    }
}
