body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(63, 63, 63);
}

hr {
    width: 500px;
}

#switch-button {
    margin-bottom: 10px;
}

h1 {
    color: lightgray;
}

p {
    color: lightgray;
}

#board {
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid gray;

    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile:hover {
    cursor: pointer;
    background-color: rgb(176, 134, 216);
}

.tile-start{
    color: rgb(220, 220, 220);
}

.tile-selected {
    background-color: rgb(176, 134, 216);
}
.tile-highlighted {
    background-color: rgb(176, 66, 216);
}

#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid gray;

    margin: 2px;

    color: lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.number:hover {
    cursor: pointer;
}

.number-selected {
    background-color: rgb(57, 57, 57);
}



.horizontal-line {
    border-bottom: 1px solid white;
}
.vertical-line {
    border-right: 1px solid white;
}

#win-panel {
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    width: 250px;
    height: 100px;
}

@media screen and (max-width: 1179px){
    hr {
        width: 300px;
    }
    
    #board {
        width: 270px;
        height: 270px;
    
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    .tile {
        width: 28px;
        height: 28px;
        border: 1px solid darkgray;
    
        font-size: 15px;
        color: grey;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tile:hover {
        cursor: pointer;
        background-color: lightblue;
    }
    
    #digits {
        width: 270px;
        height: 50px;
    
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    .number {
        width: 24px;
        height: 24px;
        border: 1px solid white;
    
        margin: 2px;
    
        font-size: 15px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .number:hover {
        cursor: pointer;
    }
    
    .number-selected {
        background-color: grey;
    }
    
    .tile-start{
        color: white;
    }
    
    .horizontal-line {
        border-bottom: 1px solid white;
    }
    .vertical-line {
        border-right: 1px solid white;
    }
    
    #win-panel {
        margin: 0 auto;
        border: 1px solid white;
        border-radius: 10px;
        width: 250px;
        height: 100px;
    }
}